{% extends 'express_partner/base.html' %}
{% block title %}پورسانت‌های من | همکار اکسپرس{% endblock %}
{% block content %}

{# همان الگوی داشبورد: هدر fixed + main مستقیم در شِل پرتال (بدون wrapper اضافه) + نوار پایین #}
{% include 'express_partner/partials/commissions_styles.html' %}
{% include 'express_partner/partials/commissions_header.html' %}
{% include 'express_partner/partials/commissions_body.html' %}
{% include 'express_partner/partials/partner_tab_footer.html' %}

{% if is_approved %}
  {% include 'express_partner/partials/commissions_scripts.html' %}
{% endif %}
{% endblock %}
